{% extends "blank.html" %}

{% block title %}
Semestres
{% endblock %}

{% block content %}

<section class="section">
    <div class="section-body">
        <div class="row">
            <div id="modalContainer"></div>
            <div class="col-12">
                <div class="card"> 
                    <div class="card-header">
                        <h4>Lista de semestres</h4>
                    </div>
                    <div class="card-body">
                        <button type="button" class="btn btn-success" data-toggle="modal" id="nuevoSemestre">
                            <i class="fas fa-plus"></i>  Nuevo
                        </button> 
                    </div>

                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped" id="table-1">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>Nombre</th>
                                        <th>Fecha Inicio</th>
                                        <th>Fecha Fin</th>
                                        <th>Estado</th>
                                        <th class="text-center">Acciones</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for semestre in semestres %}
                                    <tr>
                                        <td>{{ semestre.id_semestre }}</td>
                                        <td>{{ semestre.nombre }}</td>
                                        <td>{{ semestre.fecha_inicio }}</td>
                                        <td>{{ semestre.fecha_fin }}</td>

                                        <td>
                                            {% if semestre.estado %} Activo {% else %} Inactivo {% endif %}
                                        </td>
                                        
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary editarSemestre" data-toggle="modal" {% if not semestre.estado %} disabled {% endif %}>
                                                <i class="far fa-edit"></i>
                                            </button>
                                            <button type="button" class="btn btn-warning cambiarEstado ml-2" data-id="{{ semestre.id_semestre }}" data-estado="{{ semestre.estado }}">
                                                {% if semestre.estado %}
                                                    <i class="fas fa-toggle-on"></i>
                                                {% else %}
                                                    <i class="fas fa-toggle-off"></i>
                                                {% endif %}
                                            </button>
                                            <button type="button" class="btn btn-danger ml-2" {% if not semestre.estado %} disabled {% endif %}>
                                                <i class="fas fa-trash"></i>
                                            </button>
                                        </td>

                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Registrar semestre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formSemestre" class="form" action="{{ url_for('semestre_routes.registrar_semestre') }}" method="post">
                    {{ form.hidden_tag() }}
                    <input type="hidden" id="semestre_id" name="semestre_id">
                    <div class="form-group">
                        {{ form.nombre.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                            {{ form.nombre(class="form-control") }}
                        </div>
                        <div class="text-danger" id="nombre-error"></div>
                    </div>

                    <div class="form-group">
                        {{ form.fecha_inicio.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            {{ form.fecha_inicio(class="form-control") }} 
                        </div>
                        <div class="text-danger" id="fecha_inicio-error"></div>
                    </div>

                    <div class="form-group">
                        {{ form.fecha_fin.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            {{ form.fecha_fin(class="form-control") }}
                        </div>
                        <div class="text-danger" id="fecha_fin-error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="submitButton">Registrar</button>
                    <button type="button" class="btn btn-danger m-t-15 waves-effect" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    
    $('#nuevoSemestre').click(function() {
        $('#formSemestre')[0].reset();
        $('#formModal').text('Registrar semestre');
        $('#submitButton').text('Registrar');
        $('#formSemestre').attr('action', "{{ url_for('semestre_routes.registrar_semestre') }}");
        $('#basicModal').modal('show');
    });

    $(document).ready(function() {
        $('#formSemestre').submit(function(e) {
            e.preventDefault();
            $.ajax({
                type: $(this).attr('method'),
                url: $(this).attr('action'),
                data: $(this).serialize(),
                success: function(response) {
                    if (response.success) {
                        $('#basicModal').modal('hide');
                        location.reload();
                    } else {
                        $('.text-danger').text('');
                        for (const [key, value] of Object.entries(response.errors)) {
                            const errorElement = $('#'+key+'-error');
                            errorElement.text(value);
                        }
                    }
                }
            });
        });
    
        $('#basicModal').on('hidden.bs.modal', function () {
            $('#formSemestre')[0].reset();
            $('.text-danger').text('');
            $('#formModal').text('Registrar semestre');
            $('#submitButton').text('Registrar');
            $('#formSemestre').attr('action', "{{ url_for('semestre_routes.registrar_semestre') }}");
        });
    
        $('.btn-danger[data-dismiss="modal"]').click(function() {
            $('#formSemestre')[0].reset();
            $('.text-danger').text('');
        });
    
    });

    $('.editarSemestre').click(function() {
        var semestreId = $(this).closest('tr').find('td:first').text();
        $.ajax({
            url: '/semestre/semestre/' + semestreId,
            method: 'GET',
            success: function(data) {
                $('#formModal').text('Editar Semestre');
                $('#submitButton').text('Actualizar');
                $('#formSemestre').attr('action', '/semestre/editar_semestre/' + semestreId);
                $('#semestre_id').val(semestreId);
                $('#formSemestre [name="nombre"]').val(data.nombre);
                $('#formSemestre [name="fecha_inicio"]').val(data.fecha_inicio);
                $('#formSemestre [name="fecha_fin"]').val(data.fecha_fin);
                $('#basicModal').modal('show');
            },
            error: function() {
                alert('Error al cargar los datos del semestre.');
            }
        });
    });

    $(document).ready(function() {
            $('.cambiarEstado').click(function() {
                var semestreId = $(this).data('id');
                var estadoActual = $(this).data('estado');
                var nuevoEstado = estadoActual ? false : true;
                var estadoTexto = nuevoEstado ? 'activo' : 'inactivo';
        
                Swal.fire({
                    title: '¿Estás seguro?',
                    text: "Vas a cambiar el estado a " + estadoTexto,
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Sí, cambiar!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: '/semestre/cambiar_estado_semestre/' + semestreId,
                            method: 'POST',
                            data: { nuevoEstado: nuevoEstado },
                            success: function(response) {
                                if(response.success) {
                                    location.reload();
                                }
                            }
                        });
                    }
                });
            });
        });

</script>

<!-- Modal HTML -->
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="formModal" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="formModal">Registrar semestre</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="formSemestre" class="form" action="{{ url_for('semestre_routes.registrar_semestre') }}" method="post">
                    {{ form.hidden_tag() }}
                    <input type="hidden" id="semestre_id" name="semestre_id">
                    <div class="form-group">
                        {{ form.nombre.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-book"></i>
                                </div>
                            </div>
                            {{ form.nombre(class="form-control") }}
                        </div>
                        <div class="text-danger" id="nombre-error"></div>
                    </div>

                    <div class="form-group">
                        {{ form.fecha_inicio.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            {{ form.fecha_inicio(class="form-control") }} 
                        </div>
                        <div class="text-danger" id="fecha_inicio-error"></div>
                    </div>

                    <div class="form-group">
                        {{ form.fecha_fin.label(class="form-control-label") }}
                        <div class="input-group">
                            <div class="input-group-prepend">
                                <div class="input-group-text">
                                    <i class="fas fa-calendar-alt"></i>
                                </div>
                            </div>
                            {{ form.fecha_fin(class="form-control") }}
                        </div>
                        <div class="text-danger" id="fecha_fin-error"></div>
                    </div>
                    <button type="submit" class="btn btn-primary m-t-15 waves-effect" id="submitButton">Registrar</button>
                    <button type="button" class="btn btn-danger m-t-15 waves-effect" data-dismiss="modal">Cancelar</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
                   